@model IEnumerable<LSA.Entities.ProductToTasting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasting.TastingId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Product.ProductId, id2=item.Tasting.TastingId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Product.ProductId, id2=item.Tasting.TastingId })
            </td>
        </tr>
}
    </tbody>
</table>
