@model IEnumerable<LSA.Entities.Tasting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Active tasting</h1>

<p>
    <a class="btn btn-info" asp-action="All">Check all tastings</a>
</p>

<p>
    <a class="btn btn-info" asp-area="" asp-controller="TastersToTastings" asp-action="Index">Assign tasters to tasting</a>
</p>
<p>
    <a class="btn btn-info" asp-area="" asp-controller="ProductsToTastings" asp-action="Index">Assign products to tasting</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TastingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TastingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFinished)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.TastingId">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TastingId">Details</a> |
                    <a class="btn btn-info" asp-action="TastingResult" asp-route-id="@item.TastingId">Tasting Result</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TastingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>