@model IEnumerable<LSA.Entities.FileInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>DataAnalysis</h1>

    <h3>Select file to upload.</h3>
<form asp-action="AddFile" asp-controller="DataAnalysis" method="post" enctype="multipart/form-data">
    <br>
    <input type="file" name="uploadedFile" />
    <br><br>
    <input type="submit" value="Upload" />
    <br><br>
</form>

<h3>All files</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    <a asp-action="PcaAnalysis" asp-route-id="@item.Id">PCA Analysis</a> |
                    <a asp-action="KmeansAnalysis" asp-route-id="@item.Id">K-Means Analysis</a> |
                    <a asp-action="CombinedAnalysis" asp-route-id="@item.Id">Combined Analysis</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>