@model LSA.Entity.TastingHistory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TastingHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TastingHistoryPreviousId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TastingHistoryPreviousId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewProse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewProse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewColour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BouquetClean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BouquetClean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BouquetIntensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BouquetIntensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BouquetQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BouquetQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasteColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasteColour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasteIntensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasteIntensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasteAftertaste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasteAftertaste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TastePotencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TastePotencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasteQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasteQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garmony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garmony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hash)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TastingHistoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
